<div class="modal-header">
  <div class="row">
    <div class="col-xs-10 text-left">
      <h3 class="modal-title">LODSCI Dataset Search</h3>
    </div>
    <div class="col-xs-2">
      <a href="#" ng-click="$close()" class="no-decoration btn-lg pull-right glyphicon glyphicon-remove"></a>
    </div>
  </div>
</div>
<div class="modal-body">
  <p>
    This page contains a register of LDF.fi datasets. Most of the datasets are published as open data, but some are not available for public use.
    You can filter the results with the provided facets.
  </p>
  <p>
    For more information, please visit <a href="https://seco.cs.aalto.fi/projects/lodsci/">the LODSCI project homepage</a>.
  </p>
</div>
