<a href="" ng-click="vm.removeFacetSelections()">Remove all selections</a>
<div class="facets">
  <seco-text-facet data-options="vm.facets.text"></seco-text-facet>
  <div class="show-facets row">
    <div class="col-xs-12">
      <button class="btn btn-default pull-right visible-xs-block visible-sm-block"
        ng-click="show = !show">{{ show ? 'Piilota fasetit' : 'Näytä fasetit' }}</button>
    </div>
  </div>
  <div class="hideable-facets" ng-class="{ 'hidden-sm hidden-xs': !show }">
    <seco-basic-facet data-options="vm.facets.subject"></seco-basic-facet>
    <seco-basic-facet data-options="vm.facets.rightsHolder"></seco-basic-facet>
    <seco-basic-facet data-options="vm.facets.creator"></seco-basic-facet>
    <seco-basic-facet data-options="vm.facets.publisher"></seco-basic-facet>
    <seco-basic-facet data-options="vm.facets.license"></seco-basic-facet>
  </div>
</div>
