<table class="table table-striped norssi-table ng-table-responsive" ng-table="vm.tableParams">
  <thead>
    <tr>
      <th class="col-xs-2">Dataset</th>
      <th class="col-xs-4">Description</th>
      <th class="col-xs-3">Organization</th>
      <th class="col-xs-3">License</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-show="!vm.isLoadingResults" ng-repeat="dataset in $data">
    <td><a ng-href="{{ ::dataset.id }}">{{ ::dataset.title }}</a></td>
    <td>
      {{ ::dataset.description }}
      <span ng-if="::dataset.subject"><br /><b>Subject:</b>
        <lodsci-value-list data-value="::dataset.subject"></lodsci-value-list>
      </span>
    </td>
    <td>
      <span ng-if="::dataset.rightsHolder"><b>Rights Holder:</b>
        <lodsci-value-list data-value="::dataset.rightsHolder"></lodsci-value-list>
      </span>
      <span ng-if="::dataset.creator"><b>Creator:</b>
        <lodsci-value-list data-value="::dataset.creator"></lodsci-value-list>
      </span>
      <span ng-if="::dataset.publisher"><b>Publisher:</b>
        <lodsci-value-list data-value="::dataset.publisher"></lodsci-value-list>
      </span>
    </td>
    <td><lodsci-value-list data-value="::dataset.license"></lodsci-value-list></td>
  </tr>
  </tbody>
</table>
<img class="loading-img" src="images/loading-lg.gif" ng-if="vm.isLoadingResults"></img>
